.header-container {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #f7f7f7;
}
.header-top {
  background-color: #f7f7f7;
}

.nav-item {
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  color: #0e1133;
  padding: 5px 20px;
}
.header-left-icon {
  color: #000000;
  font-size: 30px;
  width: 40px;
}
.nav-user-img {
  border-radius: 50%;
  width: 3em;
}
