.profile-card {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.profile-card .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card .text img {
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-card .text h3 {
  font-size: 40px;
  font-weight: 400;
}

.profile-card .text p:nth-of-type(1) {
  color: rgb(35, 182, 219);
  font-size: 15px;
  margin-top: -5px;
}

.profile-card .text p:nth-of-type(2) {
  margin: 10px;
  width: 90%;
  text-align: center;
}
